/* global.css or tailwind.css */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
/* global.css or tailwind.css */
.custom {
  border: none !important;
  box-shadow: none !important;
}
